* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}

/*------------------------------------------
  Styles
------------------------------------------*/
.lazy-slider-style {
  overflow: hidden;
  .slide-list {
    list-style: none;
    display: flex;
    transition: transform 0.5s ease-out 0s;
    & .slide-item {
      flex-grow: 1;
      & > img {
        width: 100%;
        height: auto;
      }
    }
  }
}
