* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}

/*------------------------------------------
  Styles
------------------------------------------*/
.lazy-slider-style {
  position: relative;
  height: 100%;
  overflow: hidden;
  img {
    vertical-align: top;
  }
  ul, li {
    list-style: none;
  }
  .slide {
    &-list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &-item {
      flex-grow: 1;
      & > img {
        width: 100%;
        height: auto;
      }
    }
    &-btns {
      & > * {
        position: absolute;
        width: 10%;
        height: 50%;
        margin: auto 0;
        background-color: rgba(0, 0, 0, 0.7);
        top: 0;
        bottom: 0;
      }
    }
    &-prev {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      left: 0;
    }
    &-next {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      right: 0;
    }
    &-navi {
      position: absolute;
      width: 100%;
      bottom: 15px;
      left: 0;
      & > ul { 
        display: table;
        margin: 0 auto;
        border-radius: 7px;
        background-color: rgba(0,0,0,0.5);
        & > * {
          display: table-cell;
          padding: 3px 4px;
          opacity: 0.3;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
          & > span {
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #aabbcc;
          }
        }
      }
      &-active {
        opacity: 1 !important;
      }
    }
  }
  &.slide-center {
    padding: 0 20%;
    .slide {
      &-item {
        & > img {
          opacity: 0.5;
          transform-origin: center;
          transform: scale(0.9);
          transition-property: opacity, transform;
          transition-duration: 0.1s;
          transition-timing-function: ease-out;
        }
        &-center {
          & > img {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
      &-prev {
        left: -20%;
      }
      &-next {
        right: 20%;
      }
    }
  }
}
