* {
  margin: 0;
  padding: 0;
}

/*------------------------------------------
  Styles
------------------------------------------*/
.lazy-slider {
  overflow: hidden;
  .slide-list {
    list-style: none;
    display: flex;
    transition: transform 0.5s ease-out 0s;
    & .slide-item {
      width: 300px;
      flex-grow: 1;
      & > img {
        width: 100%;
        height: auto;
      }
    }
  }
}
