* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}

/*------------------------------------------
  Styles
------------------------------------------*/
.lazy-slider-style {
  position: relative;
  height: 100%;
  overflow: hidden;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  img {
    vertical-align: top;
    pointer-events: none;
  }
  ul, li {
    list-style: none;
  }
  .slide {
    &-list {
      list-style: none;
      display: flex;
      justify-content: space-between;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      cursor: grab;
      &.grabbing {
        cursor: grabbing;
      }
    }
    &-item {
      flex-grow: 1;
      a {
        display: block;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    &-prev,
    &-next {
      position: absolute;
      width: 5%;
      height: 100%;
      margin: auto 0;
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      bottom: 0;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        margin: -10px 0 0 -3px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid rgba(255,255,255,0.2);
        top: 50%;
        left: 50%;
      }
    }
    &-prev {
      left: 0;
      &::after {
        transform: rotate(-180deg);
        margin-left: -7px;
      }
    }
    &-next {
      right: 0;
    }
    &-navi {
      position: absolute;
      width: 100%;
      bottom: 5px;
      left: 0;
      & > ul { 
        display: table;
        margin: 0 auto;
        border-radius: 7px;
        background-color: rgba(0,0,0,0.5);
        & > * {
          display: table-cell;
          padding: 3px 4px;
          opacity: 0.3;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
          & > span {
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #aabbcc;
          }
        }
      }
      &-active {
        opacity: 1 !important;
      }
    }
  }
  &.slide-center {
    padding: 0 20%;
    .slide {
      &-item {
        opacity: 0.5;
        &-center {
          opacity: 1;
        }
      }
    }
  }
}
