/*------------------------------------------
  Styles
------------------------------------------*/
.lazy-slider-style {
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
  .slide {
    &-item {
      span {
        display: block;
        margin: 0 2%;
        padding: 30% 0;
        text-align: center;
        background: linear-gradient(135deg, #7abcff 0%,#60abf8 44%,#4096ee 100%);
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}
pre {
  margin-bottom: 40px !important;
}